<html>
<head>
<title>Чатик с бэком</title>
<link href="favicon-16.png" rel="icon" type="image/x-icon">    
<style>
    body{
        font-family: arial;
    }
</style>
</head>    
    <input onclick="window.location.href = 'fefu.ml'" type="submit" value="Скрыть лог" style="width: 250px; height: 40px;">
    <br>
</html>